
:root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.2em;
    width: min(960px, 90%);
    left: auto;
    right: auto;
    text-align: justify;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a,a:visited {
    color: #0366d6;
    text-decoration: none;
}

code{
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 85%;
    background-color: rgba(27,31,35,.1);
    border-radius: 3px;
    padding: .15em .4em;
    margin-left: 1px;
    margin-right: 1px;
}

div.aside{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    background-color: #f6f8fa;
    color: #586069;
}

img{
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 10px -1px #555;
    /* clip-path: inset(0 0 0 0 round 5px); */
}
img:hover{
    box-shadow: 8px 8px 3px 0px #666;
    transform: scale(1.01);
    /* cursor: zoom-in; */
}

@keyframes floatInAnim{
    0%{
        opacity: 0;
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

section{
    animation: floatInAnim 0.2s ease-in-out;
}