**.git

test
_legacy
**_tmp.*

./packages/tiny_vectordb/_build

**.egg-info
**.spec
**__pycache__
**.egg-info/

**/.vscode
**/node_modules
**/coverage
**/.vite

**/build/
**/dist
**/dist-ssr
**/target/