*__pycache__
*.swp
*.vscode
*.spec
*/conf_dev.json
*.egg-info
dist
build
.venv
.env.local
.vite
venv
*/log.txt
*/log.txt.1
*_tmp*
.DS_Store
.TempDir
.cache
lires_server/assets/pdf-viewer
lires_server/assets/pdfjs_downloading.lock

# building process generated
**/package-lock.json
**/Cargo.lock
compile_commands.json

# Binaries
*.pptx
*.psd
*.db

# Logs
logs
*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/coverage
**/*.local

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test environment
_test_home