include README.md
include lires/version.yaml *
recursive-include lires/docs *
recursive-include lires/icons *
recursive-include lires/assets *
recursive-include lires/stylesheets *
recursive-include rbmweb/dist *
