include README.md
recursive-include resbibman/docs *
recursive-include resbibman/icons *
recursive-include resbibman/assets *
recursive-include resbibman/stylesheets *
recursive-include RBMWeb/backend config.json
recursive-include RBMWeb/frontend *
