
div.search_bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

input.search_bar{
    margin-left: 10px;
    width: 100%;
}

div.dataEntry {
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--c2);
    border-style: solid;

    background-color: var(--c1);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
}


div.dataEntry:hover {
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.25);
    color: var(--cw);
    background-color: var(--c6);
}

div.entryInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.yearAuthor {
    background-color: white;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: #888;
    min-width: 150px;
    max-width: 200px;
}


div.entryAct{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 800px;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
}

div.entryAct input[type=button]{

    min-height: 20px;
    /* min-width: 80px; */

    width: 30%;
    /* max-width: 400px; */

    margin-right: 10px;
    margin-left: 10px;

    padding: 2px;
    background-color: var(--c4);;
    color: #eee;

    border-radius: 5px;
    border: 1px solid var(--c2);;
    box-shadow: none;
}

div.entryAct input[type=button]:hover{
    background-color: var(--c3);
}

/*  */
/* [> sibling selector ~ <] */
/* div.entryInfo:hover ~ div.entryAct, div.entryAct:hover{ */
/*     opacity: 0.5; */
/* } */
