/* https://doc.qt.io/qt-6/stylesheet-reference.html */
QTableView {
	gridline-color: #eeeeee;
}        
QTableView::item {
	outline: none;
}        
QTableView::item:hover:!selected {
    background-color: #D3F1FC;
	color: #333333;
	border-style: solid;
	border: 1px solid #D3F1FC;
}        
