@import './base.css';
@import './anim.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 0rem;
  }
}

div.panel{
    height: 100%;
    width: 100%;
    align-self: center;
    /*overflow: hidden;*/
    margin: 0em;
    overflow-y:auto;
    overflow-x:auto;
    border: 3px solid var(--color-border);
    border-radius: 10px;
    /* scrollbar-width: thin;
    scrollbar-color: dark; */

}

/* scrollbar */
html{
  --scrollbarBG: var(--color-background-soft);
  --thumbBG: var(--color-border);
}
body::-webkit-scrollbar, .panel::-webkit-scrollbar {
  width: 11px;
}
body, .panel {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track, .panel::-webkit-scrollbar-track  {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb, .panel::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


input[type="text"],input[type="password"]{
  border-radius: 8px;
  border: 2px solid var(--color-border);
  color: var(--color-text);
  background-color: var(--color-background-soft);
  background-color: transparent;
}
input[type="button"], button{
  border-radius: 5px;
  border: 2px solid var(--color-border);
  background-color: var(--color-background-soft);
  /* background-color: transparent; */
  color: var(--color-text);
}
input[type="button"]:hover, button:hover{
  background-color: var(--theme-color);
}