/*
File name: style.css
Author: Li, Mengxun
Email: mengxunli@whu.edu.cn
Date created: Feb 11, 2022
 */
body{
    font-family: Verdana, sans-serif;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
h1, h2{
    font-weight: 400;
}

ul li{
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 50px;
}

div#banner{
    background-color: #167a9b;
    position: absolute;
    display: flex;
    /* justify-content: center; [> align horizontal <] */
    align-items: center; /* align vertical */
    height: 40px;
    left: 0px;
    right: 0px;
    top: 0px
}

input#refresh_btn{
    position: absolute;
    left:15px;
}

div.search_bar{
    position: absolute;
    right: 15px;
}

input.search_bar{
    border-radius:7px;
}

.icon_filter{
    filter: invert(100%);
}

table#main_table{
    height: 1px;
    width: 100%;
    /* border: 1px solid gray; */
    border-collapse: collapse;
    position: absolute;
    top: 40px;
}

div.panel{
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    margin: 0em;
    overflow-y:auto;
    overflow-x:auto;
}

#tags_panel_td{
    height: 100%;
    width: 20%;
    border: 1px solid gray;
}
#selector_panel_td{
    height: 100%;
    width: 80%;
    border: 1px solid gray;
}

td.data_td{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 0;
}

tr.selector_tr:hover{
   background-color: rgb(174, 229, 255); 
}

table#selector_table{
    border-collapse: collapse;
    /*border-spacing: 10px 0px;*/
    width: 100%;
}

a.data_a{
    text-decoration: none;
    color: #163a52;
}
a.data_a:visited{
    color: #163a52;
}
